<a href="https://colab.research.google.com/github/bharathi0811/NLP_in_Movie_review/blob/main/project_on_sentimental_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sentimental Analysis of movie reviews in IMDB dataset**

In [75]:
import numpy as np
import pandas as pd

In [76]:
data = pd.read_csv("/content/IMDB Dataset.csv")

In [77]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [78]:
data.shape

(50000, 2)

In [80]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [81]:
data.columns

Index(['review', 'sentiment'], dtype='object')

In [82]:
data['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

In [83]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize

In [84]:
import spacy
import re,string,unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob
from textblob import Word
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from bs4 import BeautifulSoup

In [85]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [86]:
tokenizer = ToktokTokenizer()
stopwords = nltk.corpus.stopwords.words('english')

In [87]:
def Noise_removal(text):
  soup =BeautifulSoup(text,"html.parser")
  text = soup.get_text()
  text = re.sub('\[[^]]*\]','',text)
  return text

In [88]:
data['review']= data['review'].apply(Noise_removal)

<ipython-input-87-fe5d561d1f76>:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup =BeautifulSoup(text,"html.parser")

In [89]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [90]:
def stemmer(text):
  ps = nltk.porter.PorterStemmer()
  text = ' '.join([ps.stem(word) for word in text.split()])
  return text

In [91]:
data['review']=data['review'].apply(stemmer)

In [92]:
data.head()

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  a wonder littl production. the film techniqu i...  positive
2  i thought thi wa a wonder way to spend time on...  positive
3  basic there' a famili where a littl boy (jake)...  negative
4  petter mattei' "love in the time of money" is ...  positive

In [93]:
def removing_stopwords(text,is_lower_case = False):
  tokenizers = ToktokTokenizer()
  tokens = tokenizers.tokenize(text)
  tokens =[i.strip() for i in tokens]
  if is_lower_case:
    filtokens = [i for i in tokens if token not in stopwords]
  else:
    filtokens = [i for i in tokens if i.lower() not in stopwords]
  filtered_texts = ' '.join(filtokens)
  return filtered_texts

In [94]:
data['review'] = data['review'].apply(removing_stopwords)

In [95]:
data.head()

                                              review sentiment
0  one review ha mention watch 1 oz episod ' hook...  positive
1  wonder littl production. film techniqu veri un...  positive
2  thought thi wa wonder way spend time hot summe...  positive
3  basic ' famili littl boy ( jake ) think ' zomb...  negative
4  petter mattei ' " love time money " visual stu...  positive

In [96]:
train_data = data.review[:40000]
test_data = data.review[40000:]

In [97]:
cv = CountVectorizer(min_df=0,max_df=1,binary=False, ngram_range=(1,3))
cv_train =cv.fit_transform(train_data)
cv_test = cv.transform(test_data)
print(cv_train.shape)
print(cv_test.shape)

(40000, 6369574)
(10000, 6369574)

In [98]:
tf = TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))
tf_train = tf.fit_transform(train_data)
tf_test = tf.transform(test_data)

In [99]:
le = LabelBinarizer()
sentiment_data = le.fit_transform(data['sentiment'])

In [100]:
train_sentiment_data = data.sentiment[:40000]
test_sentiment_data = data.sentiment[40000:]

In [104]:
logreg = LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)
lr_bow = logreg.fit(cv_train,train_sentiment_data)

In [105]:
bow_predict = logreg.predict(cv_test)
print(accuracy_score(test_sentiment_data,bow_predict))

0.5946

In [108]:
print(bow_predict)

['negative' 'negative' 'negative' ... 'negative' 'negative' 'negative']

In [107]:
lr_tfidf = logreg.fit(tf_train,train_sentiment_data)
tfidf_predict = logreg.predict(cv_test)
print(accuracy_score(test_sentiment_data,tfidf_predict))

0.7522